In [2]:
import pandas as pd

# create dataframe
df = pd.DataFrame({
    'id': [1, 2, 3, 4, 4],
    'a': ["a1", "a2", "a1", "a2", "a2"],
    'b': ["b1", "b1", "b2", "b2", "b2"]
})
df

   id   a   b
0   1  a1  b1
1   2  a2  b1
2   3  a1  b2
3   4  a2  b2
4   4  a2  b2

In [3]:
df.groupby(['a', 'b'])['id'].count()
# a   b 
# a1  b1    1
#     b2    1
# a2  b1    1
#     b2    2
# Name: id, dtype: int64

a   b
a1  b1    1
    b2    1
a2  b1    1
    b2    2
Name: id, dtype: int64

In [4]:
df.groupby(['a', 'b'])['id'].nunique().reset_index()
# 	a	b	id
# 0	a1	b1	1
# 1	a1	b2	1
# 2	a2	b1	1
# 3	a2	b2	1

    a   b  id
0  a1  b1   1
1  a1  b2   1
2  a2  b1   1
3  a2  b2   1

In [5]:
df = df.groupby(['a', 'b'])['id'].apply(list).reset_index()
# 	a	b	id
# 0	a1	b1	[1]
# 1	a1	b2	[3]
# 2	a2	b1	[2]
# 3	a2	b2	[4, 4]

In [6]:
df = df.explode('id')
# 	a	b	id
# 0	a1	b1	1
# 1	a1	b2	3
# 2	a2	b1	2
# 3	a2	b2	4
# 3	a2	b2	4

In [11]:
s = pd.Series(range(5))
s.rolling(window=3).sum()

0    NaN
1    NaN
2    3.0
3    6.0
4    9.0
dtype: float64

In [36]:
# indexes and axis
# map
# window functions
# reduce
# numpy
# pyspark
for pos in reversed(range(len('123'))):
    print(pos)

2
1
0